[Unit]
Description=Dumb server to poll sensors on the PC board

[Service]
User=root
# WorkingDirectory=/
ExecStart=/usr/local/bin/sensor_polling_server
